.App {
  text-align: center;
}

.news-board{
  margin: 30px;
  padding: 20px;
  border-color: gray;
  border-style: solid;
  border-radius: 30px;
}

.news-unit{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}